<a href="https://colab.research.google.com/github/akhilg555/Logicmojo-AI-ML-Sept25-Akhil/blob/main/MY_Practice_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = {1,2,3}
type(s)

set

In [ ]:
s = {1,2}
s

{1, 2}

In [ ]:
s = {1}
s2 = {2}

In [ ]:
l = [1,2,3,4,5,6,12,3,4,5]
set(l)

{1, 2, 3, 4, 5, 6, 12}

In [ ]:
d = {'No':0, "Yes":1}
l = ["No","Yes","No"]
s = map(d.get,l)
list(s)

[0, 1, 0]

In [ ]:
s = [d[x] for x in l]
s

[0, 1, 0]

In [ ]:
def func(x):
  if x == "Yes":
    x = 1
  elif x == "No":
    x = 0
  return x
l = ["No","Yes","No"]
s = map(func,l)
list(s)

[0, 1, 0]

In [ ]:
l=('Yes','No','Yes')
print(list(map(func,l)))

[1, 0, 1]

Practice Questions - 9/14

In [ ]:
#What will be the output of the following code?
x = "5"
y = "10"
print(x + y)

510

In [ ]:
Given the dictionary d = {'a': 1, 'b': 2}, what will d.get('c', 3) return?
A) 1
B) 2
C) None
D) 3

In [ ]:
d = {'a': 1, 'b': 2}
d.get('b',3)

2

In [ ]:
d = {'a': 1, 'b': 2}
d.get('c',5)

5

In [ ]:
#What will be the output of the following code?
a, b = 5, 3
a %= b
print(a)

In [ ]:
l = [0,3,4,5,6,8,9,19]

l[4]

6

In [ ]:
l[:4]  ###End slicer value is never included in the output

[0, 3, 4, 5]

In [ ]:
l[2:5]

[4, 5, 6]

In [ ]:
l[5:]

[8, 9, 19]

In [ ]:
l[-2:-5]

[]

In [ ]:
l[2:0]

[]

In [ ]:
l[-5:-2]

[5, 6, 8]

In [ ]:
l[:-5]

[0, 3, 4]

In [ ]:
l = [0,3,4,5,6,8,9,19]
l[:-1:2]

[0, 4, 6, 9]

In [ ]:
l[::2]

[0, 4, 6, 9]

In [ ]:
l[::-1]

[19, 9, 8, 6, 5, 4, 3, 0]

In [ ]:
l[::-2]

[19, 8, 5, 3]

In [ ]:
s = "Rishabh"
s[::-1]

'hbahsiR'

In [ ]:
l = (0,3,4,5,6,8,9,19)
l[:-1:3]

(0, 5, 9)

In [ ]:
l = [1,0,3,[2,3],'a']
l[4]

'a'

In [ ]:
type(l)

list

In [ ]:
x = 41
if x > 30:
  if x%2==0 :
    pass
  else:
    print("A")
else:
  print('Condition not passed')

A

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [1,4,5,7,8,9,6,0,10]
s = []
for i in l:
  if i%2 ==0 :
    if i%3 ==0:
      pass
    s.append("Even")
  else:
    s.append("Odd")
print(s)

['Odd', 'Even', 'Odd', 'Odd', 'Even', 'Odd', 'Even', 'Even', 'Even']

SyntaxError: invalid syntax (ipython-input-1390570892.py, line 1)


Write a program that continuously asks the user to provide an input number.
Print the square of that input number.
The program should stop if the user enters 5.
In case user enters any multiple of 4, skip it.

In [ ]:

while True:
  i = int(input("Enter number: "))
  if i == 5:
    print("Loop broke")
    break
  if i%4 ==0:
    continue
  print(i**2)

Enter number: 2
4
Enter number: 4
16
Enter number: 5
Loop broke

In [ ]:
*****
*****
*****

In [ ]:
for x in range(3):
  for y in range(5):
    print('*', end = '')
  print('')

*****
*****
*****

In [ ]:
*
**
***
****
*****

In [ ]:
n = 5
for x in range(n):
  for y in range(x + 1):
    print('*', end = "")
  print()

*
**
***
****
*****

In [ ]:
    *
   ***
  *****
 *******
*********

In [ ]:
n = 5
for i in range(n):
  for j in range(n-i-1):
    print(' ',end ='')
  for z in range(2*i+1):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
for i in range(n):
  for j in range(n-i-1):
    print(' ',end ='')
  for z in range(2*i+1):
    print('*', end='')
  print()
for i in range(n-1):
  for j in range(i+1):
    print(' ', end='')
  for z in range(2*(n-i-2)+1):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
*****
*   *
*   *
*   *
*****

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if(i==n-1 or i==0 or j == 0 or j == n-1):
      print('*', end='')
    else:
      print(' ', end='')
  print()

*****
*   *
*   *
*   *
*****

    *******
    ******
    *****
    ****
    ***
    **
    *

In [ ]:
n=7
for i in range(n):
  print('*', end='')
  for j in range(n-i-1):
    print('*', end='')
  print()

*******
******
*****
****
***
**
*

In [ ]:
s = [1,2,3,[4,5],5,6,77,8]
s3 = s.pop(3)
s3

[4, 5]

In [ ]:
s

[1, 2, 3, 5, 6, 77, 8]

In [ ]:
Write a program to check palindrome - With loops
Write program count the blank spaces.
Write a program to Reversing a String without using reverse()- Try doing this with looops
Write a program to count no. of vowels and print all the vowels.

In [ ]:
p = 'abcba'
p[::-1]

'abcba'

In [ ]:
p = "My name is Rishabh"
p.count(' ')

3

In [ ]:
y= 0
for x in p:
  if x ==' ':
    y+=1
print(y)

3

In [ ]:
n=5
for i in range(5):
  for j in range(n-i-1):
    print(' ', end='')
  for k in range(i+1):
    print('*', end='')
  print()

    *
   **
  ***
 ****
*****

In [ ]:
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
n=5
for i in range(n):
  for s in range(i):
    if(i==0):
      pass
    else:
      print (' ', end='')
  for j in range(2*(n-i)-1):
    print('*', end='')
  print()

*********
 *******
  *****
   ***
    *

In [ ]:
     ******
    ******
   ******
  ******
 ******
******

In [ ]:
n=6
for i in range(n):
  for j in range(n-i-1):
    print(' ', end='')
  for k in range(n):
    print('*', end='')
  print()

     ******
    ******
   ******
  ******
 ******
******

In [ ]:
*          *
**        **
***      ***
****    ****
*****  *****
************
************
*****  *****
****    ****
***      ***
**        **
*          *


**
****
******
********
**********
************

In [ ]:
n = 6

for i in range(1, n+1):
    # Left stars
    for j in range(i):
        print('*', end='')
    # Spaces
    for k in range(2*(n-i)):# even number of spaces
        print(' ', end='')
    # Right stars
    for j in range(i):
        print('*', end='')
    print()
for i in range(n, 0, -1): # rnage starts from 6 to 1(loop stops before 0 (since range excludes the stop value).)
    for j in range(i):
      print('*', end='')
    for k in range(2*(n-i)):
      print(' ', end='')
    for b in range(i):
      print('*', end='')
    print()

*          *
**        **
***      ***
****    ****
*****  *****
************
************
*****  *****
****    ****
***      ***
**        **
*          *

In [ ]:
     *
     **
     ***
     ****
     ***
     **
     *

SyntaxError: invalid syntax (ipython-input-2222883917.py, line 1)

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(n+1):
    print(' ', end='')
  for k in range(i):
    print('*', end='')
  print()
for i in range(n-1, 0, -1):
  for j in range(n+1):
    print(' ', end='')
  for k in range(i):
    print('*', end='')
  print()

     *
     **
     ***
     ****
     ***
     **
     *

In [ ]:
*******
 *   *
  * *
   *

In [ ]:
n=4
for i in range(n):
  for j in range(i):
    print(' ', end='')
  for k in range(2*(n-i-1)+1):## width is 2*(n-i-1)+1 and border condition is 2*(n-i-1) to get the last star in each row
    if (i==0 or i==n-1 or k==0 or k==2*(n-i-1)):
      print("*", end='')
    else:
      print(' ', end='')
  print()

*******
 *   *
  * *
   *

In [ ]:
   *
  * *
 *   *
*******

In [ ]:
n=4
for i in range(n):
  for j in range(n-i-1):
    print(' ', end='')
  for k in range((2*i)+1): ##width is (2*i)+1 and border condition is 2*i to get the last star in each row
    if (i==0 or i==n-1 or k==0 or k==2*i):
      print('*', end='')
    else:
      print(' ', end='')
  print()

   *
  * *
 *   *
*******

In [ ]:
Q1 : Description
Sometimes the data has few duplicate values which will affect the analysis done.
 In this problem, you will be given a list. You have to find and delete
 the duplicates and print the updated list with no duplicates.

----------------------------------------------------------------------
Input:
A list of integers.

Output:
A list of integers, with duplicates removed if any.

----------------------------------------------------------------------
Sample input:
[8, 9, 2, 2, 3, 4, 5, 2]

Sample output:
[8, 9, 2, 3, 4, 5]

----------------------------------------------------------------------
Sample input:
[4, 4, 4, 4]

Sample output:
[4]

----------------------------------------------------------------------
Note the order of the data did not change in input and output.

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-478587889.py, line 1)

In [ ]:
IPArr=[8, 9, 2, 2, 3, 4, 5, 2]
OPset=set()
result=[]
for num in IPArr:
  if num not in OPset:
    OPset.add(num)
    result.append(num)
print(result)

[8, 9, 2, 3, 4, 5]

In [ ]:
Q2 : You will be converting a dictionary, of string(keys)
and list of string (values),  to a list of strings.
Please check the sample input/output for clarification.


Input:
A dictionary with keys as strings and values as a list of strings.

Output:
A list of strings


Sample input:
{‘Mobile’: [‘Redmi’, ‘Samsung’, ‘Realme’],
‘Laptop’: [‘Dell’, ‘HP’],
‘TV’: [‘Videocon’, ‘Sony’] }

Sample output:
[‘Mobile_Redmi’, ‘Mobile_Samsung’, ‘Mobile_Realme’, ‘Laptop_Dell’, ‘Laptop_HP’, ‘TV_Videocon’, ‘TV_Sony’]


Sample input:
{ 'Pen': ['Gel', 'Ink', 'ball'],
'Mobile': ['Android', 'apple'] }

Sample output:
['Pen_Gel', 'Pen_Ink', 'Pen_ball', 'Mobile_Android', 'Mobile_apple']

In [ ]:
input={'Mobile': ['Redmi', 'Samsung', 'Realme'],
'Laptop': ['Dell', 'HP'],
'TV': ['Videocon', 'Sony'] }

output=[]

for keys,values in input.items():
    for value in values:
      output.append(f"{keys}_{value}")
print(output)

['Mobile_Redmi', 'Mobile_Samsung', 'Mobile_Realme', 'Laptop_Dell', 'Laptop_HP', 'TV_Videocon', 'TV_Sony']

In [ ]:
Q3 : Description
You will be given a string with a lot of brackets.
You have to print if the brackets are balanced or not. Remember,
there are three types of brackets: ‘( )’,  ‘{ }’ and ‘[ ]’.

----------------------------------------------------------------------
Input:
A string

Output:
Yes, if the brackets are balanced.
No otherwise.

In [ ]:
 expression ='{[(]}'
 stack = []
matching_brackets = {
        ')': '(',
        '}': '{',
        ']': '['
    }
result=''

for char in expression:
  if char in "({[":
    stack.append(char)
  elif char in ")}]":
    if not stack:
      result= "No"
      break
    if stack[-1] == matching_brackets[char]:
      stack.pop()
    else:
      result= "No"
      break
  else:
    continue
if not stack:
  print('Yes')
else:
  print(result)

No

In [ ]:
Q4 You will be given a dictionary with keys as items and values as their prices. You have to print the cheapest item.

Sample input: A single line non-empty dictionary

Sample output: cheapest_item name: cheapest_item_cost

Sample input: {'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000,
               'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000,
               'mobile9':19000}

Sample output: mobile4: 9000

Note: in case of a tie, whichever item came first should be the output.

In [ ]:
items = {'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000,
         'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000,
         'mobile9':19000}


cheapest_key = min(items, key=lambda k: items[k])

print(f"{cheapest_key}: {items[cheapest_key]}")

mobile4: 9000

In [ ]:
Q5 You will be given a list of repeated elements. You have to find the maximum
distance between two same elements. The answer will be zero if there are no repeated elements.

Input: A non-empty list of integers.

Output: A single integer denoting the maximum distance between two same integers.

Sample input: [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]

Sample output: 8

Explanation: Max distance for 1: 5 Max distance for 2: 8 Max distance for 3: 0
Max distance for 4: 0 Max distance for 5: 0 Max distance for 6: 4 Max distance for 7: 0
 Max distance for 8: 0

In [ ]:
arr = [1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]
first_occurrence = {}
max_dist = 0
for i, num in enumerate(arr):
  if num not in first_occurrence:
    first_occurrence[num] = i
  else:
    dist = i - first_occurrence[num]
    max_dist = max(max_dist, dist)

print(max_dist)

8

In [ ]:
Q6 Your team is going for camping and you are taking a vote to decide what food to pack for dinner.
Everyone gets a vote and the food item that gets at least one more than half of the votes wins.
None of the items wins if nothing gets at least one more than half votes.
Assume that every person gets only one vote. The input will contain a list of food items
where each occurrence of an item represents one vote. You should print the winning food item as output
If there is no clear winner, print "NOTA".

Sample Input: ["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha"]

Sample Output: pasta

In [ ]:
votes = ["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha"]
vote_count = {}
total = len(votes)
for item in votes:
  if item in vote_count:
    vote_count[item] += 1
  else:
    vote_count[item] = 1

winner = "NOTA"
for item, count in vote_count.items():
    if count > total // 2:
        winner = item
        break

print(winner)

pasta

In [ ]:
Q7 Consider a nested dictionary as follows:

{'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}

Your task is to flatten a nested dictionary and join the nested keys
with the "_" character. For the above dictionary, the flattened dictionary would be as follows:

{'Fruit': 1, 'Vegetable_Cabbage': 2, 'Vegetable_Cauliflower': 3, 'Spices': 4}



The input will have a nested dictionary.

The output should have two lists. The first list will have keys and
the second list should have values. Both lists should be sorted.

In [ ]:
data = {'Fruit': 1, 'Vegetable': {'Cabbage': 2, 'Cauliflower': 3}, 'Spices': 4}

output = {}

for key, value in data.items():
    if isinstance(value, dict):
        for inner_key, inner_value in value.items():
            output[key + "_" + inner_key] = inner_value
    else:
        output[key] = value

keys = output.keys()
values = output.values()

print(keys)
print(values)

dict_keys(['Fruit', 'Vegetable_Cabbage', 'Vegetable_Cauliflower', 'Spices'])
dict_values([1, 2, 3, 4])

In [ ]:
Q 8 In the binary search, you kept reducing the search space into half of the
previous search space. In this question, can you similarly reduce the search
space in one-third of the last space search and write a searching algorithm?


Input: A non-empty sorted list of unique integers in line one The integer key to be found in line two

Output: Index of the element key if it is present in the list, else -1

Sample input: [3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

17

Sample output: 7

Sample input: [3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

1

Sample output: -1

In [ ]:
arr=[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]
key=17
left=0
right=len(arr)-1

while left<=right:
  mid=(left+right)//2
  if key>arr[mid]:
    left=mid+1
  elif key<arr[mid]:
    right=mid-1

0
12
0

In [ ]:
l=[1,2,3,4]
list(filter(lambda x: x%2==0, l))

[2, 4]

In [ ]:
strs=["x"]
anagrams = {}
for word in strs:
  key = ''.join(sorted(word))
  if key not in anagrams:
    anagrams[key]=[]
    anagrams[key].append(word)
  else:
    anagrams[key].append(word)
print(list(anagrams.values()))

[['x']]

In [ ]:
s = "racecar"
t = "carrace"

sdict={}
tdict={}

for char in s:
  if char not in sdict:
    sdict[char]=1
  else:
    sdict[char]+=1

for char in t:
  if char not in tdict:
    tdict[char]=1
  else:
    tdict[char]+=1
if sdict==tdict:#Python checks if both have the exact same keys with the exact same values — order doesn’t matter.
  print(True)
else:
  print(False)

True

In [ ]:
nums=[1,2,2,3,3,3]
ndict={}
k=2
for num in nums:
  if num not in ndict:
    ndict[num]=1
  else:
    ndict[num]+=1

temp=ndict
out=[]
for i in range(k):
  max_key=max(temp,key=temp.get)
  out.append(max_key)
  temp.pop(max_key)
print(sorted(out))

[2, 3]

In [ ]:
s="racecar"
left = 0
right = len(s) - 1
out=True
while left < right:
  if s[left] != s[right]:
    out=False
    break
  else:
    left += 1
    right -= 1
print(out)

True